<!DOCTYPE html>
<html>
<head>
  <title>Connect WhatsApp</title>
</head>
<body>

<button onclick="connectWhatsApp()">Connect WhatsApp</button>
<pre id="result"></pre>

<div id="fb-root"></div>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: "3184250695088317",
      cookie: true,
      xfbml: false,
      version: "v19.0",
    });
  };

  (function (d, s, id) {
    if (d.getElementById(id)) return;
    var js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    var fjs = d.getElementsByTagName(s)[0];
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");

  function connectWhatsApp() {
    FB.login(
      function (response) {
        if (!response.authResponse) return;

        fetch("https://test.frontliner.io/api/social/facebook/callback/", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            code: response.authResponse.code,
          }),
        });
      },
      {
        response_type: "code",
        scope:
          "whatsapp_business_management,whatsapp_business_messaging",
        extras: {
          feature: "whatsapp_embedded_signup",
        },
      }
    );
  }
</script>

</body>
</html>
